<div th:fragment="navigationFragment">
    <div class="navig">
        <a th:href="@{/webshop}">HOME</a>
        <a th:href="@{/onlyAvailable}">ONLY AVAILABLE</a>
        <a th:href="@{/cheapestFirst}">CHEAPEST FIRST</a>
        <a th:href="@{/containsNike}">CONTAINS NIKE</a>
        <a th:href="@{/averageStock}">AVERAGE STOCK</a>
        <a th:href="@{/mostExpensiveAvailable}">MOST EXPENSIVE AVAILABLE</a>
        <a th:href="@{/filterByType}">FILTER BY TYPE</a>
        <a th:href="@{/pricesInEuro}">PRICES IN EUROS</a>
        <a th:href="@{/pricesInCrown}">PRICES IN CZECH CROWNS</a>
    </div>
</div>